<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="conString" connectionString="Data Source=M_AKIFEREN;database=Database_kelepirci; Integrated Security=true" />
    <add name="ConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Database_kelepirci.mdf;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <system.web>
      <pages enableEventValidation="false" />
      <compilation debug="true" targetFramework="4.0" />
     
    </system.web>

</configuration>
